<md-card class="definition-of-research" dir="rtl">    
	<div layout="column" layout-align="center center">
		<md-card layout="column" layout-padding>

			<p style="text-align:center">הגדרת מחקר</p>

			<md-input-container>
				<label>שם המחקר</label>
				<input ng-model="research._researchName">
			</md-input-container>

			<md-input-container>
				<label>מספר מזהה למחקר</label>
				<input ng-model="research._researchNumber">
			</md-input-container>

			<md-input-container>
				<label>משתתפי המחקר</label>
				<input ng-model="research._rearchParticipate">
			</md-input-container>

			<md-input-container>
				<label>אופן מהלך המחקר</label>
				<input ng-model="research._researchProcess">
			</md-input-container>

			<md-input-container>
				<label>משתני המחקר</label>
				<input ng-model="research._researchVariables">
			</md-input-container>

			<label>התערבות</label>
			
			<md-input-container>
				<md-select ng-model="research._language" placeholder="שפות מדוברות" multiple="true">
					<md-option ng-value="lan" ng-repeat="lan in languages">{{ lan }}</md-option>
				</md-select>
			</md-input-container>

				
			<md-input-container>
				<md-select ng-model="research._musicStyle" placeholder="סגנון מוסיקה" multiple="true">
					<md-option ng-value="mStyle" ng-repeat="mStyle in musicStyle">{{ mStyle }}</md-option>
				</md-select>
			</md-input-container>


			<md-input-container>
				<md-select ng-model="research._countries" placeholder="ארץ לידה" >
					<md-option ng-value="country" ng-repeat="country in countries">{{ country }}</md-option>
				</md-select>
			</md-input-container> 

			<md-datepicker ng-model="selectedStartDate" md-placeholder="תחילת המחקר"></md-datepicker>

			<md-datepicker ng-model="selectedEndDate" md-placeholder="סיום המחקר"></md-datepicker>
			

			<md-button class="md-primary" ng-click="researcher($event)">בחירת משתתפים מרשימה קיימת</md-button>
			<md-button class="md-primary" ng-click="register($event)">הוספת משתמש חדש</md-button>



			<md-button class="md-primary" ng-click="save($event)">הגדר מחקר</md-button>
		</md-card>
	</div>
</md-card>
