.shell-header 
.header-hello-user
{
    position:absolute;
    top:15px;
    right:15px;
    font-style:
        italic;
    font-size:20px;
}

.shell-header 
.header-hello-user 
.logout
{
    cursor:pointer  
}

.shell-header
{
    background-color: #323f4f !important;
}


.client-shell-menu a
{
    color:white;
    margin:0 10px 0 10px;
    text-decoration:blink;
    transition:transform 1s
}

.client-shell-menu a:hover
{
    transform:scale(1.1)
}

.researcher-shell-menu a
{
    color:white;
    margin:0 10px 0 10px;
    text-decoration:blink;
    transition:transform 1s
}

.researcher-shell-menu a:hover
{
    transform:scale(1.1)
}

.home-page md-card-title md-card-title-text h1
{
    color:#008B8B;
    font-family:'Helvetica Neue',sans-serif;
    font-size:100px;
    font-weight:bold;
    letter-spacing:-1px;
    line-height:1;
    text-align:center
}

.home-page md-card-content p
{
    font-size: 30px;
    color:#008B8B;
    line-height:30px;
    text-align:center
}


.researcher-home-page
{
    background-image: url(../resources/pic1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain; 

}


.researcher-home-page md-card-title md-card-title-text h1
{
    color:#008B8B;
    font-family:'Helvetica Neue',sans-serif;
    font-size:100px;
    font-weight:bold;
    letter-spacing:-1px;
    line-height:1;
    text-align:center
    
}

.researcher-home-page md-card-content p
{
    font-size: 30px;
    color:#008B8B;
    line-height:30px;
    text-align:center
}


.definition-of-research
{
    position: relative;
    z-index: 1;

    font-size: 20px;
    font-style: normal;

}

.definition-of-research .photo
{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../resources/pic3.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.5;
 
}

.researches-list
{
    background-image: url(../resources/pic1.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}


.selected-research
{
    position: relative;
    z-index: 1;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;

    
}

.selected-research .photo
{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../resources/research.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.3;
 
}



.login
{
    background-image: url(../resources/login.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 100vh;
}


.login-card
{
    font-size: 25px;
    font-style: normal;
    font-weight: bold;  
    height: 50vh;
    width: 40vw;
    opacity: 0.8;  

}



.md-primary
{
    font-size: 20px;
    font-style: normal;
    font-weight: bold; 
}

 
.questionnaire
{
    font-size: 25px
}

.media-suggestion 
.media-info
{
    cursor:pointer
}

.media-suggestion 
.vote
{
    padding:0 10px 0 10px
}

.media-suggestion 
.vote .mdi
{
    cursor:pointer;
    transition:transform .5s
}

.media-suggestion 
.vote .mdi:hover
{
    transform:scale(1.1)
}

.media-suggestion 
.vote .mdi.selected.mdi-thumb-down-outline
{
    color:red
}

.media-suggestion 
.vote 
.mdi.selected.mdi-thumb-up-outline
{
    color:green
}

.new-link
{
    position:fixed;
    bottom:10px;
    right:10px
}

.info-header
{
    font-weight:bold
}

.initiatives md-card-footer
{
    font-style:italic
}

.new-initiatives textarea
{
    min-width:600px
}


md-tooltip .md-content {
    height: auto;
}

.tooltip-inner
{
    word-break: break-all;
    width: 500px;
    text-align: center;
}

.span-white-space
{
    white-space: normal;
}

/*# sourceMappingURL=app.css.map */












