<md-card class="selected-research" dir="rtl" >    
    
    <h1>ברוך הבא לדף של המחקר "{{name}}", מספר מזהה - {{id}}</h1>
   
    <div ng-init="init()">
        <div ng-app="orledor" ng-controller="selectedResearchController">
            
            
            <div ng-repeat="researches in researchDetails track by $index">
                {{researches}}<br/>
            </div>

            <p>הינך משוייך כעת למטופל: {{userName}}</p>

            <h3>משתתפי המחקר:</h3>
            <md-list>
                <md-list-item class="md-3-line" ng-click="details($index)" ng-repeat="sampleGroups in sampleGroup track by $index">
                    <div class="md-list-item-text " layout="row">				  	
                        <div layout="column ">	  	
                            <div>{{ sampleGroups }}</div>	
                        </div>		
                    </div>
                </md-list-item>	
            </md-list> 

            <p ng-repeat="temps in dateArray track by $index" ng-click="aaaa">
             {{temps}}<br/>
            </p>
        </div>
    </div>
    

    

</md-card>
