<md-card class="selected-research" dir="rtl" >    
    
    <h1>ברוך הבא לדף של המחקר "{{name}}", מספר מזהה - {{id}}</h1>
   
    <div ng-init="init()">
        <div ng-app="orledor" ng-controller="selectedResearchController">
            
            
            <div ng-repeat="researches in researchDetails track by $index">
                {{researches}}<br/>
            </div>

            <p ng-repeat="temps in dateArray track by $index" ng-click="aaaa">
             {{temps}}<br/>
            </p>
        </div>
    </div>
    

    

</md-card>
