<div layout="row" layout-align="center start">
<div layout="column" layout-align="center start">
	<md-card layout="column" layout-padding>
			
		<label>פרטי התחברות:</label>

		<md-input-container>
			<label>שם משתמש</label>
			<input ng-model="user._userName">
		</md-input-container>

		<md-input-container>
			<label>סיסמא</label>
			<input type="password" ng-model="user._password">
		</md-input-container>

		<md-input-container>
			<label>וודא סיסמא</label>
			<input type="password" ng-model="retypePassword">
		</md-input-container>

		<label>פרטים אישיים:</label>

		<md-input-container>
			<label>שם מלא</label>
			<input ng-model="user._firstName">
		</md-input-container>

		<md-input-container>
				<label>מחלקה</label>
				<input ng-model="user._department">
		</md-input-container>

		<md-datepicker ng-model="selectedBirthDate" md-placeholder="שנת לידה"></md-datepicker>

		<md-input-container>
			<md-select ng-model="user._nativeLanguage" placeholder="שפת אם">
				<md-option ng-value="lan" ng-repeat="lan in languages">{{ lan }}</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
				<md-select ng-model="user._childhoodLanguages" placeholder="שפות מדוברות מהילדות" multiple="true">
					<md-option ng-value="lan" ng-repeat="lan in languages">{{ lan }}</md-option>
				</md-select>
		</md-input-container>

		<md-input-container>
				<label>עיסוק עיקרי בעבר</label>
				<input ng-model="user._pastEmployment">
		</md-input-container>
		
		<md-input-container>
				<label>תחביבים</label>
				<input ng-model="user._hobbies">
		</md-input-container>
		
	</md-card>
</div>

	<div layout="column" layout-align="center start">
		<md-card layout="column" layout-padding>
		
			<label>סיפור חיים:</label>

			<md-input-container>
				<label>היכן נולד</label>
				<input ng-model="user._q1" >
			</md-input-container>
	
			<md-input-container>
				<label>אירוע מכונן שעבר</label>
				<input ng-model="user._q2" >
			</md-input-container>
	
			<md-input-container>
					<label>ארצות שעבר אליהן במהלך חייו</label>
					<input ng-model="user._q3" >
				</md-input-container>
				
			<md-input-container>
					<label>מתי ואיפה התחתן (בקירוב)</label>
					<input ng-model="user._q4" >
				</md-input-container>

			<md-input-container>
					<label>האם שירת בצבא</label>
					<input ng-model="user._q5" >
				</md-input-container>

			<md-input-container>
				<label>אם כן היכן ובאיזה שנים</label>
				<input ng-model="user._q5a" >
			</md-input-container>

			<md-input-container>
					<label>האם עבר מלחמה</label>
					<input ng-model="user._q6" >
				</md-input-container>

			<md-input-container>
					<label>אם כן היכן ואיזו</label>
					<input ng-model="user._q6a" >
				</md-input-container>

			<md-input-container>
					<label>פירוט נוסף:</label>
					<input ng-model="user._q6b" >
				</md-input-container>

			<md-input-container>
					<label>מלל חופשי:</label>
					<input ng-model="user._q7" >
				</md-input-container>

		</md-card>
	</div>


	<div layout="column" layout-align="center start">
			<md-card layout="column" layout-padding>
			
				<label>מצב רפואי:</label>
	
				<md-input-container>
						<md-select ng-model="user._medicalCondition" placeholder="בחר מצב רפואי אחד מתאים">
							<md-option ng-value="status" ng-repeat="status in statusOfPhysicians">{{ status }}</md-option>
						</md-select>
				</md-input-container>

				

				<md-input-container>
						<label>פרט במלל חופשי:</label>
						<input ng-model="user._medicalCondition_freeText">
				</md-input-container>
	
				<md-button class="md-primary" ng-click="register($event)">הירשם</md-button>
			</md-card>
		</div>

</div>