<md-card class="researches-list" dir="rtl">    
    <div>
        <md-input-container>
            <label>הזן שם משתמש:</label>
            <input type="text" ng-model="filterType._researchName">
        </md-input-container>
    </div>
    <md-list>
        <md-list-item class="md-3-line" ng-click="researchDetails(research, $event)" ng-repeat="researches in allResearches | filter: filterType">
          <div class="md-list-item-text " layout="row">				  	
                  <div layout="column ">	  	
                        <h2>{{ researches._researchName }}</h2>		    	
                   <!--     <p>תאריך התחלה: {{ researches._startDate | date }}</p> -->
                  </div>		
          </div>
          <md-divider ></md-divider>
        </md-list-item>	
    </md-list> 
</md-card>
